{{outlet}}

<div class="container full-page-container">
  {{#each model.stories as |story|}}
    <div class="story-container-individual">
      <h3 class="story-title">{{story.title}}</h3>
      <p class="story-info">By: {{story.authorId}}<span>Genre: {{story.genreId}}</span></p>
      <p class="story-summary">{{story.summary}}</p>
      {{new-contribution-btn}}
    </div>
  {{/each}}
</div>
