<div class="container full-page-container">
  {{log model}}
  <div class="story-container">
    <div class="story-info-container">
      <h3 class="story-title">{{model.story.title}}</h3>
      <p class="story-summary">{{model.story.summary}}</p>
      <div class="story-meta-data">
        <p class="story-user">Created by: {{model.story.userId}}</p>
        <p class="story-genre">Genre: {{model.story.genreId}}</p>
        <p class="story-start-date">Created on: {{moment-format model.story.startDate}}</p>
      </div>
      {{outlet}}
    </div>
    {{new-contribution-btn}}

  </div>
</div>
