<div class="container full-page-container">
  {{log model}}
  <div class="story-container-individual">
    <h3 class="story-title">{{model.title}}</h3>
    <p class="story-info">By: {{model.author}}<span>Genre: {{model.genre}}</span></p>
    <p class="story-summary">{{model.summary}}</p>
    {{new-contribution-btn}}
  </div>
</div>
