<div class="container full-page-container">
  <h1>Recent Contributions</h1>
  {{log model}}
  <div class="contribution-list">
    {{#each model as | contribution | }}
      <div class="contribution-container well">
        <div class="contributions-info-container">
          {{#link-to "contributions.contribution" contributions }}<h3 class="contributions-title">{{contribution.title}}</h3>{{/link-to}}
          <p class="contribution-summary">
            Author:
            {{#link-to "contribution.authorId" contributions }}
              {{contribution.authorId}}
            {{/link-to}}
          </p>
          <p class="contribution-date">
            Date: {{contributions.date}}
          </p>
          <p class="contribution-blurb">
            Text: {{contributions.body}}
          </p>
        </div>
        <div class="btn-container">
          <!-- TODO: View the entire story -->
          {{#link-to "contributions.contribution" contribution tagName="button" class="btn btn-success"}}View Story{{/link-to}}
          {{#if user}}
          <!-- TODO: if you are the owner and the contribution is pending, you can edit it -->
          {{#link-to "contributions.contribution" contribution tagName="button" class="btn btn-success"}}Edit{{/link-to}}
          <!-- {{else}}
          <button type="button" class="btn btn-primary">Login or Register</button> -->
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{outlet}}
